<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/global.css">
    <link type="text/css" rel="stylesheet" href="css/appBar.css">
    <link type="text/css" rel="stylesheet" href="css/guide.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>DeedHunter - LandBank</title>
  </head>
  <body>
    <div id="container">
      <!-- Menu -->
      <header id="appBar" >
        <nav>
          <input type="checkbox" id="check" >
          <label for="check" class="checkbtn" >
            <i class="fas fa-bars" ></i>
          </label>

          <img src="img/logo.png" alt="logo">

          <ul>
            <li> <a href="/">Mapa</a> </li>
            <li> <a href="/lists">Listagem / Calendário</a> </li>
            <li> <a href="/landBank">LandBank</a> </li>
            <li> <a href="/guide">Guia</a> </li>
            <li> <a href="#">DeedHundter</a> </li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="guide">
          <div class="guide-header">
            <h1>Califórnia</h1>
          </div>

          <div class="guide-content">
            <div class="guide-content__item">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
          </div>
        </div>

        <div class="guide">
          <div class="guide-header">
            <h1>Califórnia</h1>
          </div>

          <div class="guide-content">
            <div class="guide-content__item">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
          </div>
        </div>
      </main>

      <footer>
      </footer>
    </div>
    
    <script src="js/controllers/mapControllers.js" async type="module"></script>
    <script src="js/programs/onclickevents.js"></script>
  </body>
</html>
