<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/img/logo.png">
  <link type="text/css" rel="stylesheet" href="css/global.css">
  <link type="text/css" rel="stylesheet" href="css/appBar.css">
  <link type="text/css" rel="stylesheet" href="css/landBank.css">
  <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <title>Hunterlists</title>
</head>

<body>
  <div id="container">
    <!-- Menu -->
    <header id="appBar">
      <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>

        <a href="/"><img src="img/logo.png" alt="logo" id="logo"></a>

        <ul>
          <li> <a href="/">Mapa</a> </li>
          <li> <a href="/lists">Listas</a> </li>
          <li> <a href="/landBank">LandBanks</a> </li>
          <li> <a href="/guide">Guia</a> </li>
          <li> <a href="/attorneys">Attorneys</a> </li>
          <li> <a href="/termos">Termos</a> </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="listContainer">
        <div class="listContainer-header">
          <h1>Land Banks</h1>
        </div>

        <div class="listContainer-content">
          <div class="listContainer-content__item">
            <div class="contentItem-labels">
              <h2>OHIO</h2>
              <span></span>
            </div>
            <div class="landbanks-links">
              <a href="http://ashlandlandbank.org/">Ashland,</a>
              <a href="https://www.co.ashtabula.oh.us/672/Ashtabula-County-Land-Bank">Ashtabula, </a>
              <a href="https://www.co.athensoh.org/business/land_bank.php">Athens, </a>
              <a href="https://www.clarkcountyohio.gov/437/Land-Bank">Clark, </a>
              <a href="https://clintoncountylandbank.com/">Clinton, </a>
              <a href="https://lb.columbianacodev.org/">Columbiana, </a>
              <a href="http://www.cuyahogalandbank.org/">Cuyahoga, </a>
              <a href="https://www.fairfieldcountyland.com/">Fairfield, </a>
              <a href="https://www.fayette-co-oh.com/departments/landbank.php">Fayette, </a>
              <a href="https://www.jacksoncountyohlandbank.org/">Jackson, </a>
              <a href="http://jeffersoncountylandbank.org/">Jefferson, </a>
              <a href="https://knoxadf.com/land-bank/">Knox, </a>
              <a href="https://lakecountylandbank.org/">Lake, </a>
              <a href="https://lawrencecountylandbank.org/">Lawrence, </a>
              <a href="https://www.logancountylandbank.com/">Logan, </a>
              <a href="http://www.loraincounty.us/landbank">Lorain, </a>
              <a href="https://mahoninglandbank.com/">Mahoning, </a>
              <a href="https://mclandbank.com/">Montgomery, </a>
              <a href="https://morrowlandbank.com/">Morrow, </a>
              <a href="https://www.muskingumcountyoh.gov/Muskingum-County-Land-Reutilization-Corporation/">Muskingum,
              </a>
              <a href="https://sites.google.com/prod/perrycountylandbank.org/home/home">Perry, </a>
              <a href="https://www.pclandbank.org/land-bank-education/">Portage, </a>
              <a href="https://richlandcountylandbank.org/">Richland, </a>
              <a href="https://sclandbank.com/">Sandusky, </a>
              <a href="http://starkcountylandbank.org/">Stark, </a>
              <a href="https://www.hamiltoncountylandbank.org/">Hamilton, </a>
              <a href="http://trumbullcountylandbank.org/">Trumbull, </a>
              <a href="https://vanwerted.com/landbank/">Van Wert, </a>
              <a href="http://www.butlercountylandbank.org/">Butler, </a>
              <a href="http://www.crawfordcountylandbank.com/">Crawford, </a>
              <a href="https://huroncountylandbank.com/">Huron, </a>
              <a href="http://lickingcountylandbank.org/Default.aspx?PageId=140">Licking, </a>
              <a href="https://landbank.shelbycountytn.gov/">Shelby, </a>
              <a href="https://waynecountylandbank.com/">Wayne, </a>
              <a href="https://www.warren.org/land-bank">Warren, </a>
              <a href="http://www.summitlandbank.org/">Summit, </a>
              <a href="https://www.eriecountylandbank.org/">Erie. </a>
            </div>

          </div>

          <div class="listContainer-content__item">
            <div class="contentItem-labels">
              <h2>MICHIGAN</h2>
              <span></span>
            </div>
            <div class="landbanks-links">
              <a href="https://www.gogebiccountymi.gov/government/county_offices/treasurer_office/index.php">Gogebic,
              </a>
              <a href="https://www.ontonagoncounty.org/county-offices/county-treasurer/">Ontanogon, </a>
              <a href="https://www.houghtoncounty.net/land-bank.php">Houghton, </a>
              <a href="https://www.baragacounty.org/government/departments/county-treasurer/">Baraga, </a>
              <a
                href="https://www.co.marquette.mi.us/departments/county_treasurer/land_bank_authority.php#.YO8b4ehKiUk">Marquette,
              </a>
              <a href="https://www.dickinsoncountymi.gov/?treasurer">Dickenson, </a>
              <a href="http://www.algercourthouse.com/LandBankAuthority/index.html">Alger, </a>
              <a href="https://deltacountymi.org/treasurer/">Delta, </a>
              <a href="https://www.emmetcounty.org/community-resources/land-bank-authority-2/">Emmet, </a>
              <a href="https://www.charlevoixcounty.org/county_treasurer/index.php">Charlevoix, </a>
              <a href="https://presqueislecounty.org/">Presque, </a>
              <a href="https://www.leelanau.gov/landbank.asp">Leelanau, </a>
              <a href="https://www.gtcountymi.gov/660/Land-Bank-Authority">Grand Traverse County, </a>
              <a href="https://www.benzieco.net/government/committees/land_bank_authority.php">Benzie, </a>
              <a href="https://manisteecountymi.gov/421/Land-Bank-Authority">Manistee, </a>
              <a href="http://www.missaukee.org/departments/treasurer/index.html">Missaukee, </a>
              <a href="http://www.ocmi.us/treasurer/">Ogemaw, </a>
              <a href="https://gladwincounty-mi.gov/departments/treasurer/">Gladwin, </a>
              <a href="http://www.clareco.net/Treasurer">Clare, </a>
              <a href="https://www.osceola-county.org/residents/county_departments/community_development/land_bank.php">Osceola,
              </a>
              <a href="http://www.lakecounty-michigan.com/Courthouse/Treasurer.aspx">Lake, </a>
              <a href="https://manisteecountymi.gov/421/Land-Bank-Authority">Manistee, </a>
              <a href="http://oceana.mi.us/government/departments/treasurer/">Oceana, </a>
              <a href="https://www.baycounty-mi.gov/treasurer/land-bank.aspx">Bay, </a>
              <a href="https://www.tuscolacounty.org/edc/">Tuscola, </a>
              <a href="https://www.sanilaccounty.net/PublicPages/Entity.aspx?ID=233">Sanilac, </a>
              <a href="https://www.saginawcounty.com/departments/treasurer/land-bank/">Saginaw, </a>
              <a href="https://www.co.muskegon.mi.us/1221/Land-Bank-Authority">Muskegon, </a>
              <a href="https://www.miottawa.org/Departments/Treasurer/">Ottawa, </a>
              <a href="https://ioniacounty.org/departments-officials/treasurer/land-bank/">Ionia, </a>
              <a href="http://www.thelandbank.org/">Genesee, </a>
              <a href="https://lapeercountyweb.org/index.php/departments/county-treasurer/land-bank-authority">Lapeer,
              </a>
              <a href="https://www.stclaircounty.org/offices/metro/LandBank.aspx">St. Clair, </a>
              <a href="http://www.inghamlandbank.org/">Ingham, </a>
              <a href="https://www.eatoncounty.org/885/Eaton-County-Land-Bank-Authority">Eaton, </a>
              <a href="http://www.jacksoncountylandbank.com/">Jackson, </a>
              <a href="http://www.buildingdetroit.org/">Detroit, </a>
              <a href="https://calhounlandbank.org/">Calhoun, </a>
              <a href="http://www.kalamazoolandbank.org/">Kalamazoo, </a>
              <a href="https://www.vanburencountymi.gov/629/Land-Bank-Authority">Van Buren, </a>
              <a
                href="https://www.co.monroe.mi.us/officials_and_departments/officials/board_of_commissioners/county_boards_and_commissions/land_bank_authority.php">Monroe,
              </a>
              <a href="https://www.lenaweenow.org/landbank/">Lenawee, </a>
              <a href="https://www.casscountymi.org/">Cass, </a>
              <a href="http://www.berriencounty.org/1251/Land-Bank-Authority">Berrien. </a>

            </div>
          </div>


          <div class="listContainer-content__item">
            <div class="contentItem-labels">
              <h2>MISSOURI</h2>
              <span></span>
            </div>
            <div class="landbanks-links">
              <a href="https://www.bluespringsgov.com/1070/Land-Bank-of-Blue-Springs">Blue Springs,</a>
              <a href="https://www.kcmolandbank.org/">Kansas City,</a>
              <a href="https://www.stlouis-mo.gov/government/departments/sldc/boards/land-reutilization-authority.cfm">St
                Louis.</a>
            </div>

          </div>

          <div class="listContainer-content__item">
            <div class="contentItem-labels">
              <h2>NEW YORK</h2>
              <span></span>
            </div>
            <div class="landbanks-links">
              <a href="https://www.nassaucountyny.gov/4293/Land-Bank">Nassau,</a>
              <a href="https://www.albanycountylandbank.org/">Albany,</a>
              <a
                href="https://www.alleganyco.com/departments/planning/allegany-county-land-bank-corporation/">Allegany,</a>
              <a href="http://broomelandbank.org/">Broome,</a>
              <a href="https://www.benlic.org/">Erie,</a>
              <a href="https://www.schenectadymetroplex.com/capital-region-land-bank/">Schenectady,</a>
              <a href="https://cattlandbank.org/">Cattaraugus,</a>
              <a href="https://chqlandbank.org/">Chautauqua,</a>
              <a href="http://www.chemunglandbank.com/">Chemung,</a>
              <a href="http://www.flrlandbank.org/">Seneca,</a>
              <a href="https://www.gmvlb.org/">Greater Mohawk Valley,</a>
              <a href="http://syracuselandbank.org/">Syracuse,</a>
              <a href="https://kingstoncitylandbank.org/">Kingston City,</a>
              <a href="https://www.livingstoncounty.us/981/Land-Bank">Livingston,</a>
              <a href="https://www.newburghcommunitylandbank.org/">Newburgh,</a>
              <a href="http://www.niagaraorleanslandbank.com/index.html">Niagara-Orleans,</a>
              <a href="https://www.facebook.com/ogdensburglandbank">Ogdensburg,</a>
              <a href="http://www.oswegocountylandbank.com/">Oswego,</a>
              <a href="https://www.cityofrochester.gov/landbank/">Moroe,</a>
              <a href="https://suffolkcountylandbank.org/Home">Suffolk,</a>
              <a href="https://sullivancountylandbank.org/">Sullivan,</a>
              <a href="https://www.tiogacountyny.com/programs-agencies/property-development-corporation/">Tioga,</a>
              <a href="https://troycommunitylandbank.org/">Troy,</a>
              <a href="http://www.waynecountylandbankny.com/">Wayne,</a>
              <a
                href="https://www.dutchessny.gov/Departments/County-Executive/Dutchess-County-City-of-Poughkeepsie-Land-Bank-Approved-by-Empire-State-Development.htm">Dutchess.</a>
            </div>

          </div>

          <div class="listContainer-content__item">
            <div class="contentItem-labels">
              <h2>GEORGIA</h2>
              <span></span>
            </div>
            <div class="landbanks-links">
              <a href="https://www.albanydoughertylandbank.com/">Albany/ Dougherty,</a>
              <a href="https://americussumterlandbank.com/">Americus- Sumter,</a>
              <a href="https://www.augustaga.gov/1338/Land-Bank-Authority">Augusta,</a>
              <a href="https://www.brunswickga.org/bc-gblba">Brunswick,</a>
              <a href="https://www.savannahga.gov/485/Land-Bank-Authority">Savannah,</a>
              <a href="https://www.claytoncountyga.gov/government/board-of-commissioners/county-boards/clayton-county-land-bank-board">Clayton,</a>
              <a href="https://www.columbusga.gov/boards-committees/Land-Bank-Authority">Columbus,</a>
              <a href="https://www.dekalbcountyga.gov/community-development/dekalb-regional-land-bank">Dekalb,</a>
              <a href="https://www.cityofdouglasga.gov/260/Land-Bank-Authority">Douglas Coffe,</a>
              <a href="https://www.dublin-georgia.com/list/member/dublin-laurens-land-bank-authority-13516">Dublin Laurens,</a>
              <a href="https://maconlandbank.org/">Macon- Bibb,</a>
              <a href="https://www.metroatlantalandbank.org/">Metro Atlanta,</a>
              <a href="https://www.valdostacity.com/neighborhood-development/valdostalowndes-county-land-bank-authority">Valdosta.</a>      
            </div>

          </div>

          <div class="listContainer-content__item">
            <div class="contentItem-labels">
              <h2>ILLINOIS</h2>
              <span></span>
            </div>
            <div class="landbanks-links">
              <a href="https://www.cilba.org/">Champaign,</a>
              <a href="http://www.cookcountylandbank.org/">Will,</a>
              <a href="http://www.cookcountylandbank.org/">Cook,</a>
              <a href="http://r1planning.org/landbank">Boone,</a>
              <a href="http://lakecountyleague.org/lake-county-land-bank-authority/">Lake.</a>

                    
            </div>

          </div>
          
          <div class="listContainer-content__item">
            <div class="contentItem-labels">
              <h2>INDIANA</h2>
              <span></span>
            </div>
            <div class="landbanks-links">
              <a href="http://www.elkhartcountyplanninganddevelopment.com/Redevelopment.html">Elkhart,</a>
              <a href="https://muncielandbank.org/about">Delaware,</a>
              <a href="http://www.renewindianapolis.org/">Marion.</a>
                    
            </div>

          </div>

          <div class="listContainer-content__item">
            <div class="contentItem-labels">
              <h2>PENNSYLVANNIA</h2>
              <span></span>
            </div>
            <div class="landbanks-links">
              <a href="https://www.erielandbank.org/">Erie,</a>
              <a href="https://www.co.venango.pa.us/327/Land-Bank">Venango,</a>
              <a href="https://lawrencecountypa.gov/departments/land-bank/">Lawrence,</a>
              <a href="https://co.armstrong.pa.us/index.php/departments-m/land-bank-m">Armstrong,</a>
              <a href="http://www.altoonapa.gov/Pages/Altoona-Redevelopment-Authority.aspx">Altoona,</a>
              <a href="https://pghlandbank.org/">Pittsburgh,</a>
              <a href="https://tricoglandbank.org/">Allegheny,</a>
              <a href="https://www.co.westmoreland.pa.us/1977/Land-Bank">Westmoreland,</a>
              <a href="https://www.somersetredevelopment.org/">Somerset,</a>
              <a href="https://www.racfpa.org/">Fayette,</a>
              <a href="https://wclandbank.net/about/">Washington,</a>
              <a href="http://www.lackawannacounty.org/index.php/lackawanna-county-land-bank">Northumberland,</a>
              <a href="http://www.lackawannacounty.org/index.php/lackawanna-county-land-bank">Lackawanna,</a>
              <a href="https://www.nepalandbank.com/">Luzerne,</a>
              <a href="http://schuylkillpalandbank.org/">Schuylkill,</a>
              <a href="http://schuylkillpalandbank.org/">Lebanon,</a>
              <a href="https://www.cityoflancasterpa.com/boards-commissions-and-authorities/lancaster-city-land-bank-authority/">Lancaster,</a>
              <a href="https://www.yceapa.org/strategic-development/york-county-land-bank-authority/">York,</a>
              <a href="https://phdcphila.org/who-we-are/boards/philadelphia-land-bank-board/">Philadelphia,</a>
              <a href="https://www.pottstown.org/432/Land-Bank-Board">Montgomery,</a>
              <a href="https://pahra.org/monroe-county-of-redevelopment-authority/">Monroe.</a>
            </div>

          </div>

          <div class="listContainer-content__item">
            <div class="contentItem-labels">
              <h2>Pagina em construção</h2>
              <span>Por favor, aguarde.</span>
            </div>
            <a href="#"> Website </a>
          </div>

          <!--<div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>Lorem Ipsum is simply dummy</h2>
                <span>(Municipal)</span>
              </div>
              <a href="#"> Website  </a>
            </div>
            
            <div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>Lorem Ipsum is simply dummy</h2>
                <span>(Municipal)</span>
              </div>
              <a href="#"> Website  </a>
            </div>-->
        </div>
      </div>
    </main>

    <footer>
    </footer>
  </div>

  <script src="js/controllers/mapControllers.js" async type="module"></script>
  <script src="js/programs/onclickevents.js"></script>
</body>

</html>