<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link type="text/css" rel="stylesheet" href="css/global.css">
    <link type="text/css" rel="stylesheet" href="css/appBar.css">
    <link type="text/css" rel="stylesheet" href="css/landBank.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>Hunterlists</title>
  </head>
  <body>
    <div id="container">
      <!-- Menu -->
      <header id="appBar" >
        <nav>
          <input type="checkbox" id="check" >
          <label for="check" class="checkbtn" >
            <i class="fas fa-bars" ></i>
          </label>

          <a href="/"><img src="img/logo.png" alt="logo" id="logo"></a>

          <ul>
            <li> <a href="/">Mapa</a> </li>
            <li> <a href="/lists">Listas</a> </li>
            <li> <a href="/landBank">LandBanks</a> </li>
            <li> <a href="/guide">Guia</a> </li>
            <li> <a href="/attorneys">Attorneys</a> </li>
            <li> <a href="/termos">Termos</a> </li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="listContainer">
          <div class="listContainer-header">
            <h1>Land Banks</h1>
          </div>

          <div class="listContainer-content">
            <div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>OHIO</h2>
                <span></span>
              </div>
              <div class="landbanks-links">
                <a href="http://ashlandlandbank.org/">Ashland,</a>
                <a href="https://www.co.ashtabula.oh.us/672/Ashtabula-County-Land-Bank">Ashtabula, </a>
                <a href="https://www.co.athensoh.org/business/land_bank.php">Athens, </a>
                <a href="https://www.clarkcountyohio.gov/437/Land-Bank">Clark, </a>
                <a href="https://clintoncountylandbank.com/">Clinton, </a>
                <a href="https://lb.columbianacodev.org/">Columbiana, </a>
                <a href="http://www.cuyahogalandbank.org/">Cuyahoga, </a>
                <a href="https://www.fairfieldcountyland.com/">Fairfield, </a>
                <a href="https://www.fayette-co-oh.com/departments/landbank.php">Fayette, </a>
                <a href="https://www.jacksoncountyohlandbank.org/">Jackson, </a>
                <a href="http://jeffersoncountylandbank.org/">Jefferson, </a>
                <a href="https://knoxadf.com/land-bank/">Knox, </a>
                <a href="https://lakecountylandbank.org/">Lake, </a>
                <a href="https://lawrencecountylandbank.org/">Lawrence, </a>
                <a href="https://www.logancountylandbank.com/">Logan, </a>
                <a href="http://www.loraincounty.us/landbank">Lorain, </a>
                <a href="https://mahoninglandbank.com/">Mahoning, </a>
                <a href="https://mclandbank.com/">Montgomery, </a>
                <a href="https://morrowlandbank.com/">Morrow, </a>
                <a href="https://www.muskingumcountyoh.gov/Muskingum-County-Land-Reutilization-Corporation/">Muskingum, </a>
                <a href="https://sites.google.com/prod/perrycountylandbank.org/home/home">Perry, </a>
                <a href="https://www.pclandbank.org/land-bank-education/">Portage, </a>
                <a href="https://richlandcountylandbank.org/">Richland, </a>
                <a href="https://sclandbank.com/">Sandusky, </a>
                <a href="http://starkcountylandbank.org/">Stark, </a>
                <a href="https://www.hamiltoncountylandbank.org/">Hamilton, </a>
                <a href="http://trumbullcountylandbank.org/">Trumbull, </a>
                <a href="https://vanwerted.com/landbank/">Van Wert, </a>
                <a href="http://www.butlercountylandbank.org/">Butler, </a>
                <a href="http://www.crawfordcountylandbank.com/">Crawford, </a>
                <a href="https://huroncountylandbank.com/">Huron, </a>
                <a href="http://lickingcountylandbank.org/Default.aspx?PageId=140">Licking, </a>
                <a href="https://landbank.shelbycountytn.gov/">Shelby, </a>
                <a href="https://waynecountylandbank.com/">Wayne, </a>
                <a href="https://www.warren.org/land-bank">Warren, </a>
                <a href="http://www.summitlandbank.org/">Summit, </a>
                <a href="https://www.eriecountylandbank.org/">Erie. </a>
              </div>
              
            </div>
            
            <div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>Pagina em construção</h2>
                <span>Por favor, aguarde.</span>
              </div>
              <a href="#"> Website  </a>
            </div>

            <!--<div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>Lorem Ipsum is simply dummy</h2>
                <span>(Municipal)</span>
              </div>
              <a href="#"> Website  </a>
            </div>
            
            <div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>Lorem Ipsum is simply dummy</h2>
                <span>(Municipal)</span>
              </div>
              <a href="#"> Website  </a>
            </div>-->
          </div>
        </div>
      </main>

      <footer>
      </footer>
    </div>
    
    <script src="js/controllers/mapControllers.js" async type="module"></script>
    <script src="js/programs/onclickevents.js"></script>
  </body>
</html>
