<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link type="text/css" rel="stylesheet" href="css/global.css">
    <link type="text/css" rel="stylesheet" href="css/appBar.css">
    <link type="text/css" rel="stylesheet" href="css/landBank.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>DeedHunter - LandBank</title>
  </head>
  <body>
    <div id="container">
      <!-- Menu -->
      <header id="appBar" >
        <nav>
          <input type="checkbox" id="check" >
          <label for="check" class="checkbtn" >
            <i class="fas fa-bars" ></i>
          </label>

          <a href="/"><img src="img/logo.png" alt="logo" id="logo"></a>

          <ul>
            <li> <a href="/">Mapa</a> </li>
            <li> <a href="/lists">Listas</a> </li>
            <li> <a href="/landBank">LandBank</a> </li>
            <li> <a href="/guide">Guia</a> </li>
            <li> <a href="/attorneys">Attorneys</a> </li>
            <li> <a href="/termos">Termos</a> </li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="listContainer">
          <div class="listContainer-header">
            <h1>Land Banks</h1>
          </div>

          <div class="listContainer-content">
            <div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>Pagina em construção, por favor aguarde. &#9881; &#128736;</h2>
                <span></span>
              </div>
              <a href="#"> &#9881; &#128736; <i class="fas fa-external-link-alt"></i></a>
            </div>

            <!--<div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>Lorem Ipsum is simply dummy</h2>
                <span>(Municipal)</span>
              </div>
              <a href="#"> Website <i class="fas fa-external-link-alt"></i></a>
            </div>

            <div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>Lorem Ipsum is simply dummy</h2>
                <span>(Municipal)</span>
              </div>
              <a href="#"> Website <i class="fas fa-external-link-alt"></i></a>
            </div>
            
            <div class="listContainer-content__item">
              <div class="contentItem-labels">
                <h2>Lorem Ipsum is simply dummy</h2>
                <span>(Municipal)</span>
              </div>
              <a href="#"> Website <i class="fas fa-external-link-alt"></i></a>
            </div>-->
          </div>
        </div>
      </main>

      <footer>
      </footer>
    </div>
    
    <script src="js/controllers/mapControllers.js" async type="module"></script>
    <script src="js/programs/onclickevents.js"></script>
  </body>
</html>
