<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/global.css">
    <link type="text/css" rel="stylesheet" href="css/map.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>DeedHunter - Listagem/ Calendário</title>
  </head>
  <body>
    <div id="container">
      <header>
        <nav>
          <input type="checkbox" id="check" >
          <label for="check" class="checkbtn" >
            <i class="fas fa-bars" ></i>
          </label>

          <img src="img/logo.png" alt="logo">

          <ul>
            <li> <a href="/">Mapa</a> </li>
            <li> <a href="/listCalendar">Listagem / Calendário</a> </li>
            <li> <a href="/landBank">LandBank</a> </li>
            <li> <a href="/guide">Guia</a> </li>
            <li> <a href="#">DeedHundter</a> </li>
          </ul>
        </nav>
      </header>

      <main>

      </main>

      <footer>
      </footer>
    </div>
    
    <script src="js/controllers/mapControllers.js" async type="module"></script>
    <script src="js/programs/onclickevents.js"></script>
  </body>
</html>
