<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link type="text/css" rel="stylesheet" href="css/global.css">
    <link type="text/css" rel="stylesheet" href="css/guide.css">
    <link type="text/css" rel="stylesheet" href="css/appBar.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>DeedHunter - LandBank</title>
  </head>
  <body>
    <div id="container">
      <!-- Menu -->
      <header id="appBar" >
        <nav>
          <input type="checkbox" id="check" >
          <label for="check" class="checkbtn" >
            <i class="fas fa-bars" ></i>
          </label>

          <a href="/"><img src="img/logo.png" alt="logo" id="logo"></a>

          <ul>
            <li> <a href="/">Mapa</a> </li>
            <li> <a href="/lists">Listas</a> </li>
            <li> <a href="/landBank">LandBank</a> </li>
            <li> <a href="/guide">Guia</a> </li>
            <li> <a href="/attorneys">Attorneys</a> </li>
            <li> <a href="/termos">Termos</a> </li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="guide">
          <div class="guide-header">
            <h1>Termos e condições</h1>
         </div>
   
         <div class="guide-content">
           <div class="guide-content__item">
             <p>
              By entry and use of the American Tax Lien Association site, the subscriber agrees to the following Terms and Conditions.

              The phrase "the Company" refers to American Tax Lien Association, LLC.  The phrase "the service" refers to the Tax Sale Resource service.  Both the Company and the service may be abbreviated as “TSR”.  The phrase "the subscriber" refers to the person or entity which uses the TSR services. The use of TSR constitutes acceptance of these Terms and Conditions.
              Services provided to the subscriber by the Company may only be used in accordance with all applicable laws, statutes, regulations and rules and solely for lawful purposes. It is unlawful and a violation of this Agreement to use these services for any illegal or unlawful purposes.
              Any attempt to violate the security, stability, or integrity of any American Tax Lien Association, LLC sites or servers containing said sites is strictly prohibited and grounds for cancellation of services and legal action.
              The subscriber is solely responsible for the knowledge of and adherence to any and all laws, statutes, rules and regulations pertaining to the subscriber's use of any data contained in the service or any other service provided by the Company.
              Subscriptions are renewable annually and/or monthly depending on the option(s) you, the user, choose. Subscriptions are renewed at the rate in effect at the time of renewal and payment for annual subscription is due immediately following the end of the previous cycle (monthly and/or yearly).  If fee is not received for any reason, all services provided by American Tax Lien Association, LLC will be cancelled.  Reinstatement of cancelled service will be made upon proper payment of fee with new cycle start date set as date payment is received by American Tax Lien Association.
              Fee for returned check is $30.00.  In instance of bank error, American Tax Lien Association, LLC may remove any returned check charges upon receipt of written explanation of returned check from issuing bank.
              The subscriber rights herein granted cannot be transferred, shared, sold, or used by anyone other than the subscriber. Similarly, the subscriber's membership cannot be transferred, shared, sold or used by anyone other than the subscriber without express prior written consent by an authorized officer of American Tax Lien Association, LLC.
              Data obtained from the service by the subscriber cannot be transferred, shared, sold, or used by anyone other than the subscriber without express prior written consent by an authorized officer of American Tax Lien Association, LLC.
              User ID's and passwords remain the property of American Tax Lien Association and are issued for use by the subscriber only. User ID’s and passwords may be changed by American Tax Lien Association at any time with notification to the subscriber either immediately preceding or following such change. User ID’s and passwords issued to or used by the subscriber cannot be transferred, shared, sold, or used by anyone other than the subscriber without express prior written consent by an authorized officer of American Tax Lien Association, LLC.
              The Company shall have the right to suspend or discontinue service to the subscriber, at any time, for reasonable cause.  American Tax Lien Association, LLC reserves the right to decline any services to any customer for any reason.
              LIMITED WARRANTY. American Tax Lien Association, LLC WARRANTS THAT DATA PRESENTED IS AN ACCURATE AND TRUE REPRESENTATION OF THAT WHICH IS RECEIVED FROM THE SOURCES FROM WHICH SAID DATA WAS OBTAINED, TO THE BEST OF American Tax Lien Association’ ABILITY AND KNOWLEDGE. OTHER THAN THE FOREGOING, NO WARRANTY IS MADE BY American Tax Lien Association, EITHER EXPRESSED OR IMPLIED, REGARDING ANY INFORMATION, SERVICES OR PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THE SERVICES PROVIDED BY American Tax Lien Association, AND THEREFORE HEREBY EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, INCLUDING WITHOUT LIMITATION: (i) ANY WARRANTIES AS TO THE AVAILABILITY, ACCURACY, OR CONTENT OF INFORMATION THAT IS PROVIDED BY THE SOURCES FROM WHICH SAID DATA WAS OBTAINED; AND (ii) ANY WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
              LIMITED LIABILITY. ANY LIABILITY OF THE COMPANY INCLUDING WITHOUT LIMITATION ANY LIABILITY FOR DAMAGES CAUSED OR ALLEGEDLY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, ELECTRICAL SURGE/DAMAGE/INTERFERENCE, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMMUNICATIONS LINE FAILURE, THEFT OR DESTRUCTION OF OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORDS WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION, SHALL BE STRICTLY LIMITED TO THE AMOUNT PAID BY OR ON BEHALF OF THE SUBSCRIBER TO THE COMPANY FOR THE CURRENT SERVICE CYCLE.
              SUBSCRIBER AGREES THAT American Tax Lien Association, LLC, ITS OFFICERS, EMPLOYEES AND AGENTS SHALL NOT BE LIABLE TO SUBSCRIBER OR ANY OF SUBSCRIBER'S OFFICERS, EMPLOYEES, CUSTOMERS OR AGENTS FOR ANY CLAIMS OR DAMAGES WHICH MAY BE SUFFERED BY SUBSCRIBER OR ITS OFFICERS, EMPLOYEES CUSTOMERS OR AGENTS, INCLUDING, BUT NOT LIMITED TO, LOSSES OR DAMAGES OF ANY AND EVERY NATURE, RESULTING FROM INACCURACY OR UNAVAILABILITY OF DATA, THE LOSS OF DATA, OR INABILITY TO TRANSMIT OR RECEIVE INFORMATION, CAUSED BY, OR RESULTING FROM, DELAYS, NON-DELIVERIES, OR SERVICE INTERRUPTIONS WHETHER OR NOT CAUSED BY THE FAULT OR NEGLIGENCE OF American Tax Lien Association. SUBSCRIBER HEREBY AGREES TO INDEMNITY AND HOLD HARMLESS American Tax Lien Association FROM ANY AND ALL CLAIMS OF WHATEVER NATURE BROUGHT BY ANY OF SUBSCRIBER’S CUSTOMERS AGAINST American Tax Lien Association.
              All rights and copyrights for site structure and data are reserved by American Tax Lien Association, LLC.
              All Trademarks are property of their respective owners.
              This Agreement represents the complete understanding between the parties as to the subject matter hereof, and supersedes all prior written or oral negotiations, representations, guaranties, warranties, promises, orders, statements or agreements between the parties or any statement or representation made or furnished by any other person representing or purporting to represent either party.
              These Terms and Conditions supersede all previous representations, understandings or agreements. If any part of this agreement is decided by a jury to be contrary to law, the rest of the agreement remains in full force and effect.
              American Tax Lien Association, LLC reserves the right to change rates and otherwise modify these Terms and Conditions by notifying you 30 days in advance of the effective date of change.
              Use of TSR or any American Tax Lien Association, LLC systems constitutes acceptance of these Terms and Conditions.
             </p>
           </div>
         </div>
        </div>
      </main>

      <footer>
      </footer>
    </div>
    
    
    <script src="js/programs/onclickevents.js"></script>
  </body>
</html>
