@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

    body{
        background-color: #353533 !important;
    }
    .height-view{
        height: 95vh !important;
     }
     .overlay {
         position: absolute; 
         height: 100%;
         bottom: 0; 
         background: rgba(0, 0, 0,5);
         background: linear-gradient(rgba(0,0,0,0.1),rgba(0, 0, 0, 0.8));
         color: #f1f1f1; 
         width: 100%;
         transition: .5s ease;
         opacity:1;
         color: white;
         text-align: center;
       
     }
     .btn-login{
         background: #353533 !important;
         color: #f1f1f1 !important; 
         width: 100%;
     }
     .small-text{
         font-size: 12px;
         color: #6e6e6e;
     }
     .color-marrom{
         color: #bb8208 !important;
     }
     .input-form-login{
         border: #f7f7f7;
         background-color: #f5f5f5;
     }
     .text-input-form-login{
         font-family: 'Lato', sans-serif;
         color: #afafaf;
     }
     .slide-login-tittle{
         font-family: 'Teko';
         font-size: 2.9rem;
         background: -webkit-linear-gradient(#f7f7f7, #c7c7c7, #141414);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         letter-spacing: -1.4px;
     }         
     #form-recover-password{
        display: none;
    }

/* Principal *//* Principal *//* Principal */



/* Main app *//* Main app *//* Main app */

@media (min-width: 276px) and (max-width: 767px) {
#column-carroussel{
display: none;
}
#card-login{
border-radius: 5px;
}

}
