@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');


/* Login Page *//* Login Page *//* Login Page */

/* Login Page *//* Login Page *//* Login Page */


/* Main app *//* Main app *//* Main app */
/*font-family: 'Lato', sans-serif;*/


    /* Principal *//* Principal *//* Principal */

        body {
            background-color: #F5F2E7;
            margin: 0;
            padding: 0;
            width: 100vw;
        }
 
                
        /* Header *//* Header *//* Header */    
            header{
                background: rgb(44,51,51);
                background: linear-gradient(180deg, rgba(44,51,51,1) 0%, rgba(127,80,53,1) 15%, rgba(245,242,231,1) 86%); 
                margin: 0;
                padding: 0;
                width: 100vw;
                display: flex;
                justify-content: center;
            }
            nav {
                width: 70vw;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10vh 0;
                margin: 0;
            }
            nav h1,h2,h3,h4,label,select,button{
                color: #211915;
                font-family: 'Teko';
            }
            nav label{
                font-size: 3vh;
            }
            nav h2{
                font-size: 2.4vh;
                margin-bottom: 1vh;
            }
            nav img {
                height: 10vh;
            }
            nav section{
                margin: 2.5vh 0;
            }
            nav select{
                border-radius: 999px;
                border: none;
                width: 100%;
                height: 4vh;
                margin-top: 0.5vh;
                font-size: 2vh;
                padding: 0 1vh;
            }
            nav select:hover{
                cursor: pointer;
            }
            nav .search-method{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            nav .search-method div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 1vh 0;
                width: 100%;
            }
            nav hr{
                background-color: #211915af;
                height: 0.5px;
                width: 20vw;
                border: none;
                border-radius: 999px;
            }
            nav .search-method button{
                background-color: #211915;
                color: #F5F2E7;
                border: none;
                border-radius: 100%;
                height: 6vh;
                width: 6vh;
                margin-top: 1vh;
            }
            nav .search-method button{
                transform: scale(1.1);
                transition: 0.2s;
                cursor: pointer;
            }
            nav #search-container {
                transition: 1s;
            }
        /* Header *//* Header *//* Header */
        /* Main *//* Main *//* Main */
            main{
                display: flex;
                justify-content: center;
                width: 100vw;
                
            }
            main h2,h3,button{
                font-family: 'Lato', sans-serif;
                
            }
            main h2{
                font-size: 1.5vh;
                height: 200;
            }
            main h3{
                font-size: 2vh;
                height: 300;
            }
            
            main #result-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 70vw;
                
            }
            main #result-section .result-item{
                margin: 1vh;
                padding: 1vh;
                background-color: rgba(255, 255, 255, 0.802);
                width: 100%;
                z-index: 9;
                border-radius: 1vw;
            }
            main #result-section .result-item:hover{
                transform: scale(1.01);
                transition: 0.2s;
                cursor: pointer;
            }
            .result-item .principal-content div{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
            }
            .result-item .hidden-content{
                display: flex;
                flex-direction: column;
            }
            .result-item .hidden-content div{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin: 0.5vh 0;
            }
            .result-item .hidden-content hr{
                background-color: #211915af;
                height: 0.5px;
                width: 100%;
                border: none;
                border-radius: 999px;
            }
            .result-item h2{
                margin-right: 0.5vh;
            }
            .height-view{
                height: 95vh !important;
             }
             .overlay {
                 position: absolute; 
                 height: 100%;
                 bottom: 0; 
                 background: rgba(0, 0, 0,5);
                 background: linear-gradient(rgba(0,0,0,0.1),rgba(0, 0, 0, 0.8));
                 color: #f1f1f1; 
                 width: 100%;
                 transition: .5s ease;
                 opacity:1;
                 color: white;
                 text-align: center;
               
             }
             .btn-login{
                 background: #353533 !important;
                 color: #f1f1f1 !important; 
                 width: 100%;
             }
             .small-text{
                 font-size: 12px;
                 color: #6e6e6e;
             }
             .color-marrom{
                 color: #bb8208 !important;
             }
             .input-form-login{
                 border: #f7f7f7;
                 background-color: #f5f5f5;
             }
             .text-input-form-login{
                 font-family: 'Lato', sans-serif;
                 color: #afafaf;
             }
             .slide-login-tittle{
                 font-family: 'Teko';
                 font-size: 2.9rem;
                 background: -webkit-linear-gradient(#f7f7f7, #c7c7c7, #141414);
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
                 letter-spacing: -1.4px;
             }         

            .download-button{
                width: 100%;
                height: 5vh;
                background-color: #211915;
                color: #F5F2E7;
                font-size: 2.5vh;
                border: none;
                border-radius: 1vh;
                font-family: 'Lato', sans-serif;
            }

            .download-button:hover{
                cursor: pointer;
                background-color: rgba(127,80,53,1);
                transition: 1s;
            }
            /* Main *//* Main *//* Main */
        
        .search-method svg path{
            stroke: #211915d4;
            stroke-width:2;
        }

        .search-method svg path:hover{
            cursor: pointer;
            transition: 1s;
            stroke: #000000;
            stroke-width: 5;
        }
        .color-legend{
            height: 20px;
            width: 10px;
        }
        .text-legend{
            font-family: 'Teko';
            font-size: 2rem;
            color: #353533;
            letter-spacing: -1.4px;
            margin-top: -35px;
        } 



    /* Principal *//* Principal *//* Principal */



/* Main app *//* Main app *//* Main app */

@media only screen and (min-width: 800px) {
    header nav{
        width: 40vw;
    }

    main #result-section{
        width: 40vw;
    }

}
@media (min-width: 276px) and (max-width: 767px) {
    #column-carroussel{
        display: none;
    }
    #card-login{
        border-radius: 5px;
    }

}
